* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainDiv {
    display: flex;
    height: 300px;
    width: 300px;
}

.rowdiv {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-style: solid;
    
}

.rowdiv div {
    flex-direction: row;
    flex: 1;
    border-style: solid;

}