* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#mainContainerDiv {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.divRow {
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

.divRow div {
    flex-direction: row;
    flex: 1;

}

#ui {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 70px;
    padding-left: 10px;


}


/* CSS */
#ui button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#ui button:hover {
  background-color: #fff;
}

#ui button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  #ui button {
    min-width: 120px;
    padding: 0 25px;
  }
}