* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#mainDiv {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.rowdiv {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-style: solid;
    
}

.rowdiv div {
    flex-direction: row;
    flex: 1;
    border-style: solid;

}